.login-form-container{
    display: flex;
    align-items:center;
    justify-content: center;
    background: rgba(255, 255, 255, 9);
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}
.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}